@tailwind base;
@tailwind components;
@tailwind utilities;

.matelic-text {
  @apply bg-[radial-gradient(circle,#fff,rgba(255,255,255,0.35))] bg-clip-text my-0 font-dmSans;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card-overlay {
  background: rgb(1, 1, 1);
  background: linear-gradient(
    0deg,
    rgba(1, 1, 1, 0.797) 0%,
    rgba(0, 212, 255, 0) 100%
  );
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p::selection {
  @apply bg-primary !text-dark;
}
